<h1>Offenders</h1>

<ng-include src="'static/ng-app/templates/main-nav.html'"></ng-include>

<section>
    <h2>Offenders</h2>
    <table class="offender-table ls-table">
        <tr>
            <th>Data</th>
            <th>Statement</th>
        </tr>
        <tr ng-repeat="o in offenders" ng-class-even="'even'">
            <td class="data-cell"><p>#{{ o.execution_num }}</p>
                <p>{{ o.first_name }} {{ o.last_name }}</p>
                <p>{{ o.execution_date }}</p>
                <p>{{ o.age }} yrs old</p>
                <p>{{ o.race }}</p>
            </td>
            <td class="statement-cell">
                <div ng-bind-html="o.statement"></div>
                <h2 class="teaser-label">Teaser ({{ o.teaser.length }})</h2>
                <div ls-input="o.teaser"
                     ls-fld="teaser"
                     ls-enter="update(offenders[$index].id, 'teaser', offenders[$index].teaser)"
                     class="teaser-fld"></div>
            </td>
        </tr>
    </table>
</section>