.DS_Store
*.pyc

/apache2
/data/*
/laststatement/wsgi.py
/laststatement/settings/dev.py
/laststatement/settings/prod.py
/laststatement/settings/stage.py
/laststatement/settings/test.py
/laststatement/static/info_img/*
