.main-nav {
    margin-top: 15px;
}

.wrap {
    max-width: 60em;
}

.btn {
    padding: 3px 5px;
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ccc;
    color: green;
    text-decoration: none;
}

.btn:hover {
    background: rgba(255,255,255,.7);
}

.scrape-results {
    display: none;
}

.scrape-results.show {
    display: block;
}

.scrape-results-num, .scrape-results-clear {
    font-size: .8em;
    padding: 2px 4px;
    background: rgba(100,100,100,.1);
    border-radius: 2px;
    margin-right: 3px;
    color: #666;
}

.scrape-results-clear {
    cursor: pointer;
}

.ls-table {
    background: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
    border-spacing: 0;
    width: 100%;
}

.ls-table td {
    padding: 3px 5px;
    background: #fefeee;
    border-bottom: 1px solid #deded4;
    vertical-align: top;
}

.ls-table td p:first-child {
    margin-top: 0;
}

.ls-table th {
    padding: 3px 5px;
    text-align: left;
    color: #fefeee;
}

.ls-table tr.even td {
    background: #eeeee4;
}

.ls-table a {
    text-decoration: none;
}

.term-text-fld {
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

.term-text-fld:focus {
    border-bottom: 1px solid #333;
    outline: 0;
}

.title-fld {
    width: 25%;
}

.words-fld {
    width: 65%;
}

.title-fld input, .words-fld input {
    width: 100%;
}

.teaser-label {
    font-size: .9em;
    font-weight: normal;

    margin-bottom: 3px;
}

.teaser-fld {
    background: rgba(50,50,50,.1);
    padding: 1px 4px;
    margin-bottom: 5px;
}

.teaser-fld input {
    width: 99%;
    color: green;
}

.data-cell {
    font-size: .8em;
    color: #666;
    border-right: 1px solid #ddd;
}

.data-cell p {
    margin-bottom: 5px;
    margin-right: 15px;
}

.sentiment-selector {
    margin-bottom: 5px;
}

.sentiment-selector span {
    display: inline-block;
    font-size: .8em;
    background: rgba(50,50,50,.1);
    padding: 1px 3px;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.sentiment-selector span.selected {
    color: #efefef;
    background: rgba(50,50,50,.8);
}