<!doctype html>
<html ng-app="lastAdmin">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{% block title %}Last Statement Admin{% endblock %}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/static/last.css?v=7">
    <link rel="stylesheet" type="text/css" href="/admin/static/css/admin.css?v=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.js"></script>

    <script src="/admin/static/ng-app/app.js"></script>
    <script src="/admin/static/ng-app/controllers.js"></script>
    <script src="/admin/static/ng-app/services.js"></script>
    <script src="/admin/static/ng-app/directives.js"></script>
    <script src="/admin/static/ng-app/filters.js"></script>
</head>
<body>
    <div id="page" class="wrap">
        <div ng-view class="view-frame"></div>
    </div>
</body>
</html>