<ng-include src="'../static/sentiments/ng-app/templates/main-nav.html'"></ng-include>

<h1>Sentiments</h1>

<p>Select sentiments to display the matching statements</p>

<section id="grid">
    <div ng-repeat="s in sentiments"
         ls-pie-chart="s.title"
         ls-pie-values="s.execution_count"
         ls-pie-total="statement_count"
         ls-pie-select="select(s.title)"
         class="sentiment-grid-pie"
         data-id="{{s.id}}"
         ng-class="{'sentiment-grid-selected': selected.indexOf(s.id) > -1}"
         ng-click="select(s.id)">
     </div>
</section>

<section id="statements" ng-if="executionPoolCount > 0">
    <h1>Statements</h1>
    <div ng-repeat="e in executionPool">
        <h2 class="statement-header">{{ e.first_name }} {{ e.last_name }} <span class="execution-date">{{ e.execution_date }}</span></h2>
        <div class="statement-text" ng-bind-html="e.statement"></div>
        <div class="statement-links">
            <span><a href="http://www.tdcj.state.tx.us/death_row/{{ e.info_url }}" target="_blank">Offender information</a></span>
            <span ng-if="e.execution_num > 182"><a href="http://www.txexecutions.org/reports/{{ e.execution_num }}.asp" target="_blank">Execution report</a></span>
        </div>
    </div>
</section>