<ng-include src="'../static/sentiments/ng-app/templates/main-nav.html'"></ng-include>

<section id="grid">
    <div ng-repeat="s in sentiments"
         ls-pie-chart="s.title"
         ls-pie-overlap="s.overlap"
         ls-pie-values="s.execution_count"
         ls-pie-total="statementCount"
         ls-pie-select="select(s.title)"
         class="sentiment-grid-pie"
         ng-class="{'sentiment-grid-selected': selectedSentiments.indexOf(s.id) > -1}"
         ng-click="select(s.id)">
     </div>
</section>

<ng-include src="'../static/sentiments/ng-app/templates/statements.html'"></ng-include>