<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand"><a href="/">Last Statement</a> /Sentiments</span>
        </div>

        <div class="selection">
            <div class="navbar-left selection-summary">
                <div ls-bar-counter ls-bar-value="executionPoolCount" ls-bar-total="statementCount" class="bar-counter"></div>
            </div>
            <div class="navbar-right">
                <button type="button" class="btn btn-default navbar-btn" ng-class="{'hilite': showStatements}" ng-click="toggleStatements()" ng-disabled="executionPoolCount.length == 0">Statements</button>
            </div>
        </div>
    </div>
</nav>