@font-face {
    font-family: 'last-statement-icons';
    src:url('fonts/last-statement-icons.eot');
    src:url('fonts/last-statement-icons.eot?#iefix') format('embedded-opentype'),
        url('fonts/last-statement-icons.ttf') format('truetype'),
        url('fonts/last-statement-icons.woff') format('woff'),
        url('fonts/last-statement-icons.svg#last-statement-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333;
    background: #fefeee;
    padding: 0;
    margin: 0;
}

a, a:active {
    color: #000;
}

.wrap {
    width: 90%;
    max-width: 40em;
    margin: auto;
}

.flashes {
    background: rgba(0,0,0,.1);
    padding: .5em .5em 0 .5em;
    color: #333;
    font-size: .8em;
    margin: 0;
    border-bottom: 2px solid #333;
}

.flashes li {
    list-style: none;
    margin: 0 0 .5em 0;
}

.flashes li.error {
    color: #900;
}

.main-h1 {
    padding-top: .5em;
    font-size: 1.6em;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
}

.main-h2 {
    font-size: 1.6em;
    font-weight: normal;
}

.icon {
    font-family: 'last-statement-icons';
    font-weight: normal;
    font-style: normal;
    font-size: .8em;
    line-height: 1em;
    padding: 0 .5em;
    speak: none;
    text-decoration: none;
    color: #aaa;
    -webkit-font-smoothing: antialiased;
    transition: color 0.5s ease;
}

.icon:hover {
    color: #333;
}

.intro {
    font-size: 1.1em;
    padding: 1em 0 .5em 0;
}

ul.terms {
    list-style: none;
    padding: 0;
    text-transform: capitalize;
    line-height: 1.8em;
}

.meta {
    color: #666;
}

.meta span {
    padding-right: 15px;
    white-space: nowrap;
}

.statement {
    line-height: 1.6em;
}

.menu {
    margin: 0;
    padding: .5em 0;
}

.icon-btn {
    font-family: 'last-statement-icons';
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #222;
    color: #fefeee;
    font-size: 18px;
    line-height: 2em;
    width: 2em;
    height: 2em;
    margin-right: .5em;
    border-radius: 2em;
    transition: background-color 0.5s ease;
}

.icon-btn:hover {
    background-color: #998;
}

.icon-btn-selected {
    background-color: #998;
}

.more-info {
    clear: both;
    display: none;
    line-height: 1.6em;
    font-size: .9em;
}

.statements {
    display: none;
}

.term-chart {
    display: none;
}

.term-chart .axis .tick {
    font-size: .8em;
}

.term-chart .gridlines line {
    stroke: #ccc;
    shape-rendering: crispedges;
}

.term-chart .axis .domain {
    width: 1px;
    fill: none;
    stroke: #222;
    shape-rendering: crispedges;
}

.term-chart .bar {
    fill: #000;
    cursor: pointer;
    transition: fill .5s;
}

.term-chart .bar:hover {
    fill: #0979C9;
}

.term-chart .yAxis {
    cursor: pointer;
}

.term-chart .yAxis:hover {
    fill: #0979C9;
}

.years, .months {
    display: none;
}