<ng-include src="'../static/admin/ng-app/templates/main-nav.html'"></ng-include>

<h1>Dashboard</h1>

<section>
    <h2>Terms</h2>
    <table class="ls-table term-table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Words</th>
            <th>Chart</th>
        </tr>
        <tr ng-repeat="t in terms" ng-class-even="'even'">
            <td ng-click="delete('Term', t.id)"
                class="delete-btn"><button>×</button></td>

            <td ls-input="t.title"
                ls-fld="title"
                ls-enter="update('Term', terms[$index].id, 'title', terms[$index].title)"
                class="title-fld"></td>

            <td ls-input="t.words"
                ls-fld="words"
                ls-enter="update('Term', terms[$index].id, 'words', terms[$index].words)"
                class="words-fld"></td>

            <td class="charted-term"
                ng-click="update('Term', t.id, 'chart', t.chart)">
                    <a href="javascript:void(0)">{{ t.chart | checkmark }}</a>
            </td>
        </tr>
    </table>

    <h3>Create term</h3>
    <input class="new-term-input" type="text" placeholder="Title" ng-model="newTermTitle">
    <button class="new-term-btn" ng-click="createTerm()">+</button>
</section>

<section>
    <h2>Sentiments</h2>
    <table class="ls-table sentiment-table">
        <tr>
            <th></th>
            <th>Count</th>
            <th>Title</th>
            <th>Active</th>
        </tr>
        <tr ng-repeat="s in sentiments" ng-class-even="'even'">
            <td ng-click="delete('Sentiment', s.id)"
                class="delete-btn"><button>×</button></td>
            <td class="count-col">{{ s.execution_count }}</td>
            <td ls-input="s.title"
                ls-fld="title"
                ls-enter="update('Sentiment', sentiments[$index].id, 'title', sentiments[$index].title)"
                class="title-fld"></td>
            <td class="active-toggle"
                ng-click="update('Sentiment', s.id, 'active', s.active)">
                    <a href="javascript:void(0)">{{ s.active | checkmark }}</a>
            </td>
        </tr>
    </table>

    <h3>Create sentiment</h3>
    <input class="new-term-input" type="text" placeholder="Title" ng-model="newSentimentTitle">
    <button class="new-term-btn" ng-click="createSentiment()">+</button>
</section>