<ng-include src="'../static/admin/ng-app/templates/main-nav.html'"></ng-include>

<h1>Executions</h1>

<section>
    <table class="executions-table ls-table">
        <tr>
            <th>Data</th>
            <th>Statement</th>
        </tr>
        <tr ng-repeat="e in executions" ng-class-even="'even'">
            <td class="data-cell"><p>#{{ e.execution_num }}</p>
                <p>
                    <a ng-if="e.execution_num > 182" href="http://www.txexecutions.org/reports/{{ e.execution_num }}.asp" target="_blank">{{ e.first_name }} {{ e.last_name }}</a>
                    <span ng-if="e.execution_num <= 182">{{ e.first_name }} {{ e.last_name }}</span>
                </p>
                <p>{{ e.execution_date }}</p>
                <p>{{ e.age }} yrs old</p>
                <p>{{ e.race }}</p>
            </td>
            <td class="statement-cell">
                <div ng-bind-html="e.statement"></div>
                <h2 class="teaser-label">Teaser ({{ e.teaser.length }})</h2>
                <div ls-input="e.teaser"
                     ls-fld="teaser"
                     ls-enter="update(executions[$index].id, 'teaser', executions[$index].teaser)"
                     class="teaser-fld"></div>

                <h2 class="teaser-label">Sentiments</h2>
                <div class="sentiment-selector">
                    <span ng-repeat="s in sentiments"
                          ng-class="{selected: e.sentiments.indexOf(s.id) > -1}"
                          ng-click="update(e.id, 'sentiments', s.id, (e.sentiments.indexOf(s.id) == -1))" >
                          {{ s.title }}
                    </span>
                </div>
            </td>
        </tr>
    </table>
</section>