section {
    clear: both;
}

.wrap {
    max-width: 50em;
    margin-top: 4em;
}

.navbar {
    background: #fefee3;
}

.navbar-default .navbar-brand {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.1em;
    line-height: 25px;
    padding-left: 0;
    font-weight: bold;
    color: #222;
}

.navbar-default .navbar-brand:hover {
    color: #222;
}

.navbar .container {
    max-width: 50em;
}

.selection-intro.navbar-text {
    color: #ceceb5;
}

.selection-summary {
    padding-top: 15px;
    width: calc(100% - 280px);
}

.sentiment-grid-pie {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 30px 30px 0;
    background-color: #fffff5;
    box-shadow: 1px 1px 2px #dedecc;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.4s ease, border-color 0.6s ease, box-shadow 0.3s linear;
}

.sentiment-grid-pie.row-last {
    margin-right: 0;
}

.sentiment-grid-pie:hover {
    box-shadow: 2px 2px 3px #dedecc;
}

.sentiment-grid-selected {
    background-color: #fffffa;
    border-color: orange;
}

.main-nav {
    margin-top: 15px;
}

.btn {
    padding: 3px 5px;
    margin-right: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #ccc;
    color: green;
    text-decoration: none;
}

.statement-header {
    font-size: 1.2em;
    margin-top: 40px;
}

.statement-header .execution-date {
    color: #999;
}

.statement-links {
    font-size: .9em;
}

.statement-links span {
    padding-right: 15px;
}