<!doctype html>
<html{% if app_name %} ng-app="{{ app_name }}"{% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if 'bootstrap' in lib %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    {% endif %}

    {% for path in css %}
    <link rel="stylesheet" type="text/css" href="/static/{{ path }}">
    {% endfor %}

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>

    {% if thumb %}
    <meta property="og:image" content="/static/{{ thumb }}">
    {% endif %}

    {% if 'jquery' in lib %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    {% endif %}

    {% if 'angular' in lib %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.js"></script>
    {% endif %}

    {% if 'bootstrap' in lib %}
    <script src="/static/lib/ui-bootstrap-0.10.0.js"></script>
    {% endif %}

    {% if 'd3' in lib %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
    {% endif %}

    {% for path in js %}
    <script src="/static/{{ path }}"></script>
    {% endfor %}
</head>
<body>
    <div id="page" class="wrap">
        <div ng-view class="view-frame"></div>

        {% if show_footer == 'true' %}
            {{ top_nav(('twitter', 'github')) }}

            <div id="more-info" class="more-info">
                <p>
                    Since the death penalty was reinstated in 1974, the State of Texas has executed {{ exec_total }} people.
                </p>
                <p>
                    Just before each execution, the State allows the prisoner to make a last statement, which is transcribed. The Texas Department of Criminal Justice publishes the final words of the executed <a href="http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html" title="Executed Offenders">on its website</a>.
                </p>
                <p>
                    This page shows how often 16 common sentiments were expressed in the last statements. Click the charts to see how many statements included specific sentiments. Click the "Statements" button to show the full text of all related last statements.
                </p>
                <p>
                    This is a project of <a href="http://saharagray.com" title="Sahara Gray - web design by Ben Judson">Ben Judson</a>.
                </p>
            </div>
        {% endif %}
    </div>
</body>
</html>